<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details| Spare</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <%- include('navbar') %>
   <main class="details-main-container">
    <div class="details-image-container">
        <img src="<%= detailItemData.item_pic %>" alt="Item-image">
    </div>
    <div class="details-right-container">
        <div class="details-heading-container">
           <h3 style="color:blue"><%= detailItemData.item_company %></h3>
           <h2><%= detailItemData.item_name %></h2>
            <div class="details-rating-container">
                <% for(let star = 0 ; star < detailItemData.item_rating;star++){%>
                    <p style="color: gold;"><i class="fa-solid fa-star"></i></p>
                <% } %><span style="color:lightblue;">&nbsp;Rating</span>
            </div>
            <hr>
        </div>
        <div class="details-price-container">
            <p style="font-size:larger"><sup>&#8377;</sup>
                <%= detailItemData.item_price-((detailItemData.item_price * detailItemData.item_discount)/100) %>
            </p>
            <p>M.R.P.:&nbsp;<span style="text-decoration: line-through;">&#8377;<%= detailItemData.item_price %>
                        </span></p>
            <p style="color: red;">
                <%= detailItemData.item_discount %>% &nbsp;discount
            </p>
            <hr>
        </div>
        <div class="details-des">
            <p><%= detailItemData.item_des %></p>
            <hr>
        </div>
        <div class="details-buttons-container">
            <button class="btns btnCounter"><a href="/cart/<%= detailItemData._id %>"
                    style="text-decoration: none; color:white;">Add to Cart</a></button>
        </div>
    </div>
   </main>
   <%- include('footer') %>
</body>
</html>