<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/details.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('signupnav') %>
        <div class="details-main-container">
            <div class="left-main-container">
                <div class="left-main-container-picture">
                    <img src="<%= item.item_pic%>" alt="Item Image">
                </div>
            </div>
            <div class="right-main-container">
                <div class="right-heading-container">
                    <h2>
                        <%= item.item_company %>
                    </h2>
                    <h3>
                        <%= item.item_name %>
                    </h3>
                </div>
                <div class="right-ratings-container">
                    <p style="color: gold;">
                        <% for( let star=0; star < item.item_rating; star++ ) { %>
                            <i class="fa-solid fa-star"></i>
                            <% } %>&nbsp;<span style="color: blue;">Ratings</span>
                    </p>
                </div>
                <hr class="ruler">
                <div class="right-price-container">
                    <p>
                        <span style="font-size: 1.8rem; font-weight:1px; color:red">&minus;&nbsp;<%= item.item_discount
                                %>&percnt;</span>
                        &nbsp;&nbsp;&nbsp;<span style="font-size: 2rem; font-weight:1px;"><sup
                                style="font-size: 1rem; font-weight:1px;">&#8377;
                            </sup>
                            <%= item.item_price-((item.item_price * item.item_discount)/100) %>
                        </span>
                    </p>
                    <p>M.R.P.:&nbsp;<span style="text-decoration: line-through;">&#8377;<%= item.item_price %></span>
                    </p>
                </div>
                <hr class="ruler">
                <div class="right-features-container">
                    <div class="feature-icon">
                        <i style="color: red;" class="fa-solid fa-truck"></i>
                        <p>Fast Delivery Within 2 days</p>
                    </div>
                    <div class="feature-icon">
                        <i style="color: red;" class="fa-solid fa-screwdriver-wrench"></i>
                        <p>All Parts and tools available</p>
                    </div>
                    <div class="feature-icon">
                        <i style="color: red;" class="fa-solid fa-rotate"></i>
                        <p>15 Days Replacement</p>
                    </div>
                </div>
                <hr class="ruler">
                <div class="button-container">
                    <button class="cart-btn btnCounter"><a href="/cart/<%= item._id %>" style="text-decoration: none; color:white"> Add to Cart</a></button>
                    <button class="buy-btn">Buy Now</button>
                </div>
                <hr class="ruler">
                <div class="right-description">
                    <h2>About this item</h2>
                    <p>
                        <%= item.item_des %>
                    </p>
                </div>
            </div>
        </div>
    <%- include('footer') %>
</body>

</html>